@use 'variables' as *;

.customBtn{
    background-color: $color-accent;
    color: $color-text-primary;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover{
        background-color: $color-text-accent-dark;
    }
}